.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  height: 300px;
  background-image: url('../public/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card__back {
  width: 90%;
  min-height: 158px;
  background-image: url('../public/images/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__back p {
  color: #fff;
  font-size: .6rem;
  margin-right: 38px;
  margin-bottom: 14px;
}

.card__front {
  width: 90%;
  height: 158px;
  background-image: url('../public/images/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% + 30px);
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card___front__circles {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.card___front__circles div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 14px;
  background-color: #fff;
}

.card___front__circles div:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.card__front__card-number{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  padding-left: 40px;
  gap: 10px;
}

.card__front__card-number p {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.card__front__info {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
} 

.card__front__info p {
  font-size: .6rem;
  color: #fff;
}

.card__front__info p:nth-child(1) {
  text-transform: uppercase;
  margin-left: 15px;
}

.card__front__info p:nth-child(2) {
  margin-right: 15px;
}